* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f8f8f8;
}

.navbar {
    height: 100px;
    background-color: #fca957;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar nav ul {
    list-style: none;
    display: flex;
}

.navbar nav ul li {
    margin-right: 100px;
}

.navbar nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: color 0.3s ease;
}

.navbar nav ul li a:hover {
    color: #808080; /* Change to your desired hover color */
}
.logo {
width: 60px;
height : auto;
margin-top: 0px;
margin-left: -185px;
}




/* Styling for the intro video */
.video-container {
    display: flex;
}

.intro {
    width: auto;
    height: 50vh;
    margin: 20px; /* Adjust as needed */
}

.video-text {
    flex: 1;
    padding: 20px; /* Adjust as needed */
    background-color: #ffcc00; /* Yellow background */
}

.main-text {
    font-size: 20px; /* Adjust the font size as needed */
    line-height: 2; /* Adjust the line height for better readability */
    color: #333; /* Adjust the text color */
}

/* Styling for intro video ends*/





@media (max-width: 600px) {
    indexpage {
        width: 80%; /* Adjust the width for smaller screens */
    }
}
